* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* header */
.navbar.navbar-light {
    background-color: aquamarine;
    border: 0;
    border-radius: 0;
}